*{
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

h1 {
  color:rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 20px;
}

#header {
  text-align: center;
  min-height: 60px;
  border: 1px solid rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  

}

#home, #about, #contant, #proceed {
  height: 360px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#home {
  font-size: 55px;
  font-style: italic;
  color: rgb(255, 255, 255);
}

#about {
  display: flex;
  justify-content: center;
  flex-direction: center;
  align-content: center;
  width: auto;
  text-align: center;
  color:rgb(255, 255, 255);
  opacity: 100%;
  font-size: small;
  font-style: italic;
  background-color: black;
  padding: 5px;
}

#aboutid {
  width: 500px;
  display: flex;
  justify-content: center;
  border: 5px white solid;
  padding: 15px;
}
#contact {
  background-color: black;
}

#contacttwo {
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background-color: black;
}

.proceed-sec {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;

}
.proceed {
  color:rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  background-color: rgb(0, 0, 0);
  padding: 1em 1.5em;
  text-decoration: none;
  border: white solid 5px;

}

.proceed:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}



#sectionThree {
  height: 1000px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 100px;
  margin-top: 50px;
}

#containerThree {
  margin: 25px; 
  padding:50px;
  background-color: rgb(0, 0, 0);
}

.fader {
  opacity: 0.15;
}


.container{
  display: flex;
  justify-content: center;
  gap: 10px;
  }

.animated{
  width: 325px;
  height: 325px;
  background-position: center;
  background-size: cover;
}



/* Fade in left */
.fadeInLeft{
   background-image: url(../assets/img/AIVero1.png);
  -webkit-animation: fadeInLeft 1.2s both; /* Safari 4+ */
  -moz-animation: fadeInLeft 1.2s both; /* Fx 5+ */
  -o-animation: fadeInLeft 1.2s both; /* Opera 12+ */
  animation: fadeInLeft 1.2s both; /* IE 10+, Fx 29+ */
} 

/* Safari 4+ */
@-webkit-keyframes fadeInLeft {
  0% {
      opacity: 0;
      -webkit-transform: translateX(-50px);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateX(0);
  }
}

/* Fx 5+ */
@-moz-keyframes fadeInLeft {
  0% {
      opacity: 0;
      -moz-transform: translateX(-50px);
  }
  100% {
      opacity: 1;
      -moz-transform: translateX(0);
  }
}

/* Opera 12+ */
@-o-keyframes fadeInLeft {
  0% {
      opacity: 0;
      -o-transform: translateX(-50px);
  }
  100% {
      opacity: 1;
      -o-transform: translateX(0);
  }
}

/* IE 10+, Fx 29+ */
@keyframes fadeInLeft {
  0% {
      opacity: 0;
      transform: translateX(-50px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}


/* Fade in top */
.fadeInTop {
   background-image: url(../assets/img/AIVero2.png);
  -webkit-animation: fadeInTop 1.2s both; /* Safari 4+ */
  -moz-animation: fadeInTop 1.2s both; /* Fx 5+ */
  -o-animation: fadeInTop 1.2s both; /* Opera 12+ */
  animation: fadeInTop 1.2s both; /* IE 10+, Fx 29+ */
} 

@-webkit-keyframes fadeInTop {
  0% {
      opacity: 0;
      -webkit-transform: translateY(-50px);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInTop {
  0% {
      opacity: 0;
      -moz-transform: translateY(-50px);
  }
  100% {
      opacity: 1;
      -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInTop {
  0% {
      opacity: 0;
      -o-transform: translateY(-50px);
  }
  100% {
      opacity: 1;
      -o-transform: translateY(0);
  }
}

@keyframes fadeInTop{
  0% {
      opacity: 0;
      transform: translateY(-50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Fade in right */
.fadeInRight {
   background-image: url(../assets/img/AIVero3.png);
  -webkit-animation: fadeInRight 1.2s both; /* Safari 4+ */
  -moz-animation: fadeInRight 1.2s both; /* Fx 5+ */
  -o-animation: fadeInRight 1.2s both; /* Opera 12+ */
  animation: fadeInRight 1.2s both; /* IE 10+, Fx 29+ */
} 

@-webkit-keyframes fadeInRight {
  0% {
      opacity: 0;
      -webkit-transform: translateX(50px);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInRight {
  0% {
      opacity: 0;
      -moz-transform: translateX(50px);
  }
  100% {
      opacity: 1;
      -moz-transform: translateX(0);
  }
}

@-o-keyframes fadeInRight {
  0% {
      opacity: 0;
      -o-transform: translateX(50px);
  }
  100% {
      opacity: 1;
      -o-transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
      opacity: 0;
      transform: translateX(50px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.passage {
  display: flex;
  justify-content: center;
}

.text {
  display: flex;
  justify-content: center;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
  float: center;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  }

  .other-sec {
    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
    height: 400px;
  }
  
  .text {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 400px;
    height: 400px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: white;  
    text-align: center;
    
  }

.icon {
    width: auto;
    height: 400px;
    margin-top: 30px;
  }
  
.icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }