

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

#header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-style: bold;
  color: rgb(255, 255, 255);
  background: 5px;
  background-color: rgb(0, 0, 0);
  margin: 15px;
  opacity: 100%;
  position: relative;
}

h1 {
  color:rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
  text-align: center;
}

#topDiv {
  width: auto;
  /* border: 5px solid white; */
  background-color: rgb(0, 0, 0);
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 25px;
  margin-top: 75px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 60px;
  text-align: center;
  color: rgb(255, 255, 255);
  
}

#flip {
  width: 1200px;
  height: auto;
  display: flex;
  justify-content: center;
  
}

#passpoem {
  font-style: italic;
}

#passpoem2 {
  font-style: italic;
}



#scrollSection {
  height: 1200px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 100px;
  margin-top: 100px;
}

#divFour {
  margin: 25px; 
  padding:50px;
  background-color: rgb(0, 0, 0);
}

.fader {
  opacity: 0.25;
}

.hidden {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 50vh;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
  float: center;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  }

  .content {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 400px;
    opacity: 1;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
  }

  .proceed-sec {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  


  .proceed {
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: rgb(0, 0, 0);
    padding: 1em 1.5em;
    text-decoration: none;
    border: white solid 5px;
  
  }
  
  .proceed:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  .icon {
    width: auto;
    height: 200px;
  
  }
  
  .icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
