body {
  background-color: rgb(224, 204, 88);
}

h2 {
  color: rgb(80, 9, 9);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

}

.gereimage {
  width: 200px;
  height: auto;
}

div {
  border: 1px solid black;
  width: 200px;
  height: 100px;
  overflow: scroll;
}

.oscar {
  position: absolute;
  top: (clientY - 20) + "px";
  left: (clientX - 45) + "px";
}

div {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(80, 9, 9);
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

element.style {
  cursor: pointer;
  }