body {
    background-color: #FBF2CF;
}


h1 {
    display: flex;
    justify-content: center;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    text-align: center;

    color: #FA7070;
}

.classic {
    position: absolute;
    width: 436.91px;
    height: 400px;
    left: 500px;
    top: 250px;
}

h2 {
    position: absolute;
    width: 706px;
    height: 209px;
    left: 580px;
    top: 550px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    padding-bottom: 50px;
    padding-right: 20px;

    color: #FA7070;
}


a {
    position: absolute;
    font-family: 'Inter';
    font-style: italic;
    color: #FA7070;
    left: 695px;
    top: 800px;
    padding-bottom: 50px;
  }
