body {
    background-color: #FBF2CF;
}


h1 {
    position: absolute;
    width: 776px;
    height: 222px;
    left: 0px;
    top: 50px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    text-align: center;

    color: #FA7070;
}

.radio {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 900px;
    top: 61px;
}

h2 {
    position: absolute;
    width: 706px;
    height: 209px;
    left: 580px;
    top: 550px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    padding-bottom: 50px;
    padding-right: 20px;

    color: #FA7070;
}

.headlights {
    position: absolute;
    width: 400.51px;
    height: 203.93px;
    left: 100px;
    top: 600px;
    padding-bottom: 0px;
}
a {
    position: absolute;
    font-family: 'Inter';
    font-style: italic;
    color: #FA7070;
    left: 695px;
    top: 1000px;
    padding-bottom: 50px;
  }
